<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURICULO</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <style>
      h4{
        text-align: center;
      }
      li{
         text-align: center;}
      .cent
      {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
      
      body {
         font-family: 'Poppins', sans-serif;
    }
    </style>

</head>

<body>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

         <!-- Page Content goes here -->
     
      <div class="col s12 m8 offset-m2 l6 offset-l3 pulse" >
         <div class="card-panel grey lighten-5 z-depth-1">
         <div class="row valign-wrapper">
            <div class="col s2">
               <img src="fotoo.jpeg" alt="" class="circle responsive-img"> 
            </div>
            <div class="col s10">
               <span class="black-text">
               <h3>PEDRO HENRIQUE DOS SANTOS VIEIRA</h3>
                  <p>RUA DAS OLIVEIRAS, n°159, BAIRRO ARIANOPOLIS </br>
                     CAUCAIA, CEÁRA </br>
                     TELEFONE (85) 1234-1234 </br>
                     EMAIL: PEDROHENRIQUE16870@GMAIL.COM </br>
                     
                     
               </span>
            </div>
         </div>
         </div>
      </div>
       
      
      <div  class="container">
         <blockquote> 
         <h4>FORMAÇÃO ACADÊMICA</h4></blockquote> 
         <ul>
            <li>Ensino Médio Completo</li>
            <li>Ciência da Computação</li>
            <li>Ciência de Dados</li>
         </ul>
         
         <blockquote> 
         <h4>EXPERIÊNCIA PROFISSIONAL</h4></blockquote>
         <ul>
            <li>Bodega São José</li>
            <li>Função: Caixa, Repositor, obs:eu fazia tudo</li><br>
         </ul>  
 
            <blockquote>
         <h4>APERFEIÇOAMENTO</h4>
            </blockquote>
         <ul>
            <li>Curso de Desenvolvimento Full Stack</li>
            <li>Curso Data Science</li>
         </ul>
         
         <blockquote> 
         <h4 >HABILIDADES</h4></blockquote> 
         <ul>
            <li>Sou criativo, responsável, muito bom em trabalhar em equipe</li>
         </ul>
    
   </div>
   </div>
   </div>
   </div>
   </div>
     </div>
   <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>