<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{titulo}}</title>
  <style>
    td {
      text-align: center;
    }
  </style>

</head>

<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#test1">usuarios</a></li>
        <li class="tab"><a class="active" href="#test2">procurar usuarios</a></li>
        <li class="tab disabled"><a href="#test3">carro</a></li>
        <li class="tab"><a href="#test4">.</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">JavaScript</a></li>
  </ul>

  <div id="test1" class="col s12"> <div class="container">
    <div class="card-content">
      <div class="card">
       <table>
        <thead>
            <th>nome</th>
            <th>idade</th>
           </thead>
           
           <tbody>
                     {% for usuarios in user %}
                     <tr>
                       <td>{{usuarios.nome}}</td>
                       <td>{{usuarios.idade}}</td>
                     </tr>
                     {% endfor %}
               
                 </table>
           </div>
           </div>       
           </div>    </div>
  <div id="test2" class="col s12">
    <div class="container">
      <div class="card-content">
        <div class="card">
         <table>
          <thead>
              <th>nome</th>
              <th>idade</th>
             </thead>
             
             <tbody>
              {%for usuario in usuarios_ordenados:%}
                       <tr>
                         <td>{{usuario.nome}}</td>
                         <td>{{usuario.idade}}</td>
                       </tr>
                       {% endfor %}
                 
                   </table>
              </tbody>
             </div>
             </div>       
             </div>          
        </div>
 
  <div id="test4" class="col s12"> <div id="test3" class="col s12">      
    <div class="card-content">
    <div class="card">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Marca</th>
            <th>Cor</th>
          </tr>
        </thead>
        <tbody>
          {% for car in carro %}
          <tr>
            <td>{{car.nome}}</td>
            <td>{{car.marca}}</td>
            <td>{{car.cor}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div></div>
</div>
        

 
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>