<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{titulo}}</title>
  <style>
    td {
      text-align: center;
    }
  </style>

</head>

<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


     
  <h1>oi {{nome}}</h1>

   {% if teste %}
   <h1>entrei na condicional</h1>

   {% else %}
   <h1>não entrei na condicional</h1>
   {% endif %}

   {% for row in links %}
      <a href="{{row.url}}" target="_blank" >{{row.nome}}</a>
   {% endfor %}


   <div class="container">
     <div class="card-content">
       <div class="card">
        <table>
         <thead>
             <th>nome</th>
             <th>idade</th>
            </thead>
            
            <tbody>
                      {% for usuarios in user %}
                      <tr>
                        <td>{{usuarios.nome}}</td>
                        <td>{{usuarios.idade}}</td>
                      </tr>
                      {% endfor %}
                
                  </table>
            </div>
            </div>       
            </div>              
      

 
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>